script(type="text/x-template")#mobile-menu
  div
    transition(
      name="menu"
      enter-active-class="active"
      leave-active-class="disabled"
    )
      div(":class"="{'active': isActive, '': !isActive }").mobile-menu
        .mobile-menu__background.mobile-menu__background-left
        .mobile-menu__background.mobile-menu__background-right
        -
          var links = [
          ['Мои работы','/works.html'],
          ['Обо мне','/about.html'],
          ['Блог','/blog.html'],
          ['Авторизация','/']
          ]
        ul.mobile-menu_links
          each item in links
            li.mobile-menu__item
              a(href=`${item[1]}`).mobile-menu__link #{item[0]}
    div(":class"="{'active': isActive, '': !isActive }", @click="activeChange").hamburger.hamburger--elastic
      .hamburger-box
        .hamburger-inner


